<div style="background-color: rgb(31,26,23); text-align: center;color: rgb(220,219,217);font-size: 12px">
    <div>
        <div style="padding-top: 15px">
            <span>深圳巨芯科技有限公司</span>
            <a href="http://www.miitbeian.gov.cn" rel=”nofollow”><span style="color: white">粤ICP备15105804号</span></a>
            <span>All rights reserved</span>
        </div>
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cspan id='cnzz_stat_icon_1256929769'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256929769%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        <br>友情链接:
        <span>
            <target="_blank">联系bell@lehoo.me</a>
            <a href="http://www.juanpimao.com" style="color: white" target="_blank">9块9包邮</a>

            <a href="http://www.288pc.com" style="color: white" target="_blank">电脑维修</a>
            <a href="http://www.chinamingpin.com" style="color: white" target="_blank">深圳礼品</a>

            <a href="http://www.braceletmcu.com" style="color: white" target="_blank">智能手环</a>
            <a href="http://www.9kzhe.com/" style="color: white" target="_blank">什么值得买</a>


            <a href="http://www.liwu88.cn" style="color: white" target="_blank">送礼送什么好</a>
            <a href="http://www.dqaotv.com" style="color: white" target="_blank">智能防爆电视机</a>
            <a href="http://www.homebeautytv.com" style="color: white" target="_blank">美丽加电视</a>
			 <a href="http://www.ttgift.com" style="color: white" target="_blank">天天礼品网</a>



			<a href="http://www.gainhigh.com" style="color: white" target="_blank">智能包</a>

			<a href="http://shengriliwu.alihuahua.com" style="color: white" target="_blank">生日礼物</a>
			<a href="http://www.led-zulin.com" style="color: white" target="_blank">显示屏租赁</a>
			<a href="http://www.shtofoo.com.cn" style="color: white" target="_blank">防静电工作台</a>

			<a href="http://www.sonyhao.com/" style="color: white" target="_blank">液晶拼接屏</a>
			<a href="http://www.vosov.net" style="color: white" target="_blank">米尔军情网</a>
			<a href="http://www.sltp8.com" style="color: white" target="_blank">塑料周转箱</a>
			<a href="http://www.jzgc98.com" style="color: white" target="_blank">钟华电脑科技</a>

        </span><br>
        <script id="ebsgovicon" src="http://szcert.ebs.org.cn/govicon.js?id=7bb9d375-a7b6-43e6-8c68-a06e2600dc55&width=112&height=40&type=2" type="text/javascript" charset="utf-8"></script>
    </div>
</div>