<div class="foot-dev" style="color: rgb(168,168,168);">
    <div class="container" style="width:100%">
        <div class="row">
            <!--联系我们-->
            <div class="col-xs-10">
                <div style="padding: 10px 10px 0 10px;">
                    <!--标题-->
                    <div style="line-height: 50px;font-size: 16px; font-weight: 700;float: left;padding-left: 10px;color: black">联系我们</div>
                    <!--内容-->
                    <div style="border-top: 1px solid  rgb(151,151,151); margin-top: 50px;">
                        <div style="padding: 10px 10px 0 10px; font-size: 14px;height: 135px">
                            <!-- <p>长沙亚中粤化工贸易有限公司</p>
                            <p>电话: 0731-89901763,0731-89901703</p>
                            <p>联系人：周女士 电话：18597802830 </p>
                            <p>联系人：梁女士 电话：18813909801 </p>
                            <p>联系人：张先生 电话：13739092213 </p>
                            <p>地址：长沙市雨花区沙湾路239号雨花公馆</p> -->
                            <%for(var i=0; i < base_info.contactArr.length; i++){%>
                                <p>
                                    <%=base_info.contactArr[i]%>
                                </p>
                                <%}%>
                        </div>
                    </div>
                </div>
            </div>
            <!--微信扫扫-->
            <div class="col-xs-2">
                <div style="padding: 10px 10px 0 10px;">
                    <!--标题-->
                    <div style="line-height: 50px;font-size: 16px; font-weight: 700;float: left;padding-left: 10px;color: black">微信扫扫</div>
                    <!--内容-->
                    <div style="border-top: 1px solid  rgb(151,151,151); margin-top: 50px">
                        <div style="padding: 5px 30px 0 10px;height: 135px">
                            <img style="position: absolute;bottom: 15px;height: 105px;" src="/images/ewm.png" class="img-responsive finger-over" data-toggle="modal"
                                 data-target="#two-dimension">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="background-color: rgb(31,26,23); text-align: center;color: rgb(220,219,217);font-size: 12px;margin-top:30px;">
    <div>
        <div style="padding-top: 15px">
            <span>长沙亚中粤化工贸易有限公司</span>
            <a href="http://www.miitbeian.gov.cn" rel=”nofollow”><span style="color: white">湘ICP备17020242号-1</span></a><br>
            <span>All rights reserved</span>
        </div>
        <span>
        </span><br>
    </div>
</div>