
<div class='dev_head'>
    <img class='head_logo' src='/images/ui/logo.jpg'>
</div>
<!-- 导航条 -->
<div class='dev-nav'>
    <div class='dev-nav-list'>
        <div class='dev-nav-item'>
            <a class='dev-nav-title' href="./">
                <div>首页</div>
            </a>
        </div>
        <div class='dev-nav-split'>
            <div class='dev-nav-split-content'></div>
        </div>
        <div class='dev-nav-item' >
            <a class='dev-nav-title'>
                <div>产品</div>
            </a>
            <ul class='dev-nav-more'>
                <a href="./product?index=1"><li style="border-radius: 8px 8px 0 0;">工业化工原料</li></a>
                <a href="./product?index=2"><li>环保处理原料</li></a>
                <a href="./product?index=3"><li>食用化工原料</li></a>
                <a href="./product?index=4"><li>化学试剂仪器</li></a>
                <a href="./product?index=5"><li style="border-radius: 0 0 8px 8px;">艺术涂料</li></a>
            </ul>
        </div>
        <div class='dev-nav-split'>
            <div class='dev-nav-split-content'></div>
        </div>
        <div class='dev-nav-item' >
            <a class='dev-nav-title' href="./hzhb">
                <div>合作伙伴</div>
            </a>
        </div>
        <div class='dev-nav-split'>
            <div class='dev-nav-split-content'></div>
        </div>
        <div class='dev-nav-item' >
            <a class='dev-nav-title' href="./about">
                <div>联系我们</div>
            </a>
        </div>
    </div>
</div>
<div class="swiper-container" id="slider1">
    <div class="swiper-wrapper">
        <div class="swiper-slide"> <a><img src="/images/slider/slider_1.jpg" class="img-responsive"></a> </div>
        <div class="swiper-slide"> <a><img src="/images/slider/slider_2.jpg" class="img-responsive"></a> </div>
        <!-- <div class="swiper-slide"> <a><img src="/images/slider/slider_3.jpg" class="img-responsive"></a> </div> -->
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>

