
<div class='dev_head'>
    
    <img class='head_logo' src='/images/ui/logo.jpg'>
</div>
<div class='.head_slider'>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a><img src="/images/slider/slider_1.jpg" class="img-responsive"></a>
            </div>
            <div class="swiper-slide">
                <a><img src="/images/slider/slider_2.jpg" class="img-responsive"></a>
            </div>
            <div class="swiper-slide">
                <a><img src="/images/slider/slider_3.jpg" class="img-responsive"></a>
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>



<script>
    $(document).ready(function() {
        //首页大轮播
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: 3000,
            autoplayDisableOnInteraction: false,
            pagination: '.pagination',
            paginationClickable: true
        });
        var cont = $('.swiper-container');
    })
</script>