<div class="info-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">公司简介</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="content-index-jianjie">
        <div>
            <%for(var i=0; i < base_info.infoArr.length; i++){%>
                <p><%=base_info.infoArr[i]%></p>
            <%}%>
        </div>
    </div>
</div>