<div class="info-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">公司简介</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="content-index-jianjie">
        <div>
            <!-- <div class="content-index-jianjie-img">
                <img src="images/slider/slider_1.jpg" alt=""> 
            </div> -->
            <p> 
                长沙明瑞化工有限公司成立于2009年，专业从事工业原料、食品添加剂及实验室配套耗材三大类产品，我公司是“山东英轩实业”“山东滨化集团”“中石油抚顺石化”“江苏南通奥凯”“丰益油脂化学”“山东西王”“湖北无机盐”“浙江巨化集团”“湖北兴发集团”“河南康源集团”“吉林远通矿业”“莱州海鑫化学”等大型知名企业在湖南的代理商，产品质量稳定可靠，价格实惠。
            </p>
        </div>
        <p>经过多年的发展，公司已建立起稳固、宽广的销售网络，业务范围立足于长沙明瑞化工有限公司、南昌明瑞化工有限公司、武汉明瑞原料有限公司为基点，延伸至全国和海外市场。同时公司拥有一批专业知识扎实、市场信息灵通、经验丰富的高素质客户服务专员，他们具有多年服务各大终端客户的实践经历，及完善健全的物流体系，随时为您提供方便快捷、高效优质的服务。期待与您合作共赢，共同发展！！！</p>
    </div>
</div>