<div class="info-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">公司简介</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="content-index-jianjie">
        <div>
            <p> 
                长沙亚中粤化工贸易有限公司主要经营化工原料、食品添加剂、化学试剂、工艺涂料和各种化玻仪器，产品广泛应用于印刷，医疗，视频，农药，科研教学，艺术涂料，机械加工，建筑建材等行业。
            </p>
        </div>
        <p>公司建立了良好的产供销体系，与全国各大生产厂家签约长期合作，提供各种质优价廉的化工原料，品种多样，货源充足。期待能与您真诚合作，共同发展，共创辉煌！ </p>
    </div>
</div>