<div class="left-content-node">
    <!-- <div class="left-contnet-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">产品搜索</div>
            <div class="ui-label-1"></div>
        </div>
        <div class="left-contnet-dev-input" >
            <input type="" placeholder="请输入产品关键词" name="" id="">
            <button >GO</button>
        </div>
    </div> -->
    <div class="left-contnet-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">产品分类</div>
            <div class="ui-label-1"></div>
        </div>
        <div class="left-contnet-dev-node" >
            <ul>
                <a href="./product?index=1"><li><p class="left-contnet-dev-node-li">工业化工原料</p></li></a>
                <a href="./product?index=2"><li><p class="left-contnet-dev-node-li">环保处理原料</p></li></a>
                <a href="./product?index=3"><li><p class="left-contnet-dev-node-li">食用化工原料</p></li></a>
                <a href="./product?index=4"><li><p class="left-contnet-dev-node-li">化学试剂、仪器</p></li></a>
                <a href="./product?index=5"><li><p class="left-contnet-dev-node-li">艺术涂料 </p></li></a>
            </ul>
        </div>
    </div>
</div>