<div class="left-content-node">
    <!-- <div class="left-contnet-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">产品搜索</div>
            <div class="ui-label-1"></div>
        </div>
        <div class="left-contnet-dev-input" >
            <input type="" placeholder="请输入产品关键词" name="" id="">
            <button >GO</button>
        </div>
    </div> -->
    <div class="left-contnet-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">产品分类</div>
            <div class="ui-label-1"></div>
        </div>
        <div class="left-contnet-dev-node" >
            <ul>
                <%for(var i=0; i < base_info.typesArr.length; i++){
                    if(base_info.typesArr[i].name){%>
                    <a href="./product?index=<%=base_info.typesArr[i].type%>&page=1">
                    <li>
                        <p class="left-contnet-dev-node-li"><%=base_info.typesArr[i].name%></p>
                    </li>
                    </a>
                <%}}%>
            </ul>
        </div>
    </div>
</div>