<div class="right-content-node">
    <div class="right-contnet-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">产品搜索</div>
            <div class="ui-label-1"></div>
        </div>
        
    </div>
</div>