

<div class="right-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">产品展示</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="content-index-shangpin">
        <div class="content-index-shangpin-list">
            <% for(var i=0; i<10; i++) { %>
            <div class="content-index-shangpin-item">
                <img src="images/product/product_1.jpg" alt="">
                <p>产品名字<%=i%></p>
            </div>
            <%}%>
        </div>
    </div>
</div>

<!-- <div class="right-contnet-row">
    <div class="right-contnet-row-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">公司新闻</div>
            <div class="ui-label-1"></div>
        </div>
        <ul class="content-index-title-list" id="list_1">
            <% for(var i=0; i<10; i++) { %>
                <li>
                    <p>文章名字<%=i%></p>
                </li>
            <%}%>
        </ul>
    </div>
    <div class="right-contnet-row-dev-split" ></div>
    <div class="right-contnet-row-dev">
        <div class="left-contnet-dev-title" >
            <div class="ui-label-1"></div>
            <div class="left-contnet-dev-title-content">行业动态</div>
            <div class="ui-label-1"></div>
        </div>
        <ul class="content-index-title-list"  id="list_2">
            <% for(var i=0; i<10; i++) { %>
                <li>
                    <p>文章名字<%=i%></p>
                </li>
            <%}%>
        </ul>
    </div>
</div>

<div class="right-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">技术栏目</div>
        <div class="ui-label-1"></div>
    </div>
    <ul class="content-index-title-list" id="list_3">
        <% for(var i=0; i<10; i++) { %>
            <li>
                <p>文章名字<%=i%></p>
            </li>
        <%}%>
    </ul>
</div> -->

<!-- 作为模板 -->
<!-- <div class="right-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">技术栏目</div>
        <div class="ui-label-1"></div>
    </div>
</div> -->