<div class="right-contnet-dev">
    <div class="left-contnet-dev-title" >
        <div class="ui-label-1"></div>
        <div class="left-contnet-dev-title-content">产品列表</div>
        <div class="ui-label-1"></div>
    </div>
    <div class="list-dev-content">
        <ui>
            <% for(var i=0; i<10; i++){ %>
                <li> <div class="list-dev-content-li-icon"></div> 名字<%=i%></li>
            <%}%>
        </ui>
    </div>
</div>