<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Lehoo智能水杯-品牌介绍</title>
    <% include ./gui/metaAndLink.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body class="all">
<%- include('gui/header.ejs', {id:3}) %>
<div class="jx-layout-center">
    <img style="padding-top: 30px" class="img-responsive" src="/images/about.png">

    <div style="padding-bottom: 70px">
        <!--<h3>品牌介绍</h3>-->
        <div style="margin: 70px 0 5px 0">
            <span style="font-size: 22px;font-weight: 700">品牌介绍</span>
            <span style="font-size: 13px;padding-left: 10px">THE LATEST DEVELOPMENT</span>
        </div>
        <hr style="border-top:1px solid black">
        <div style="font-size: 16px;color: rgb(118, 118, 118);">
            <p style="text-indent:30px;">深圳市巨芯科技有限公司成立于2013年，秉承“科技服务于生活，科技应用于生活”的企业理念，专注智能水杯领域的研发与品牌营销，是创新型国家软件企业。</p>

            <p style="text-indent:30px;">
                巨芯科技旗下Lehoo品牌经过长期坚持不懈的研发，已成功打造出Lehoo智能水杯经典款、水质检测款、玫瑰传情款和浪漫红唇款，入选京东商城、苏宁易购等各大平台指定供应商，成为智能水杯领域品类最多、受众群体最广的品牌。</p>

            <p style="text-indent:30px;">未来，Lehoo将继续践行科技融入生活的理念，矢志不移，持之以恒为提升大众生活品质而奋斗！</p>
        </div>
    </div>
</div>
<% include gui/foot.ejs %>
</body>
</html>