<!DOCTYPE html>
<html>

<head>
    <title>XXX化肥公司</title>
    <% include ./gui/metaAndLink.ejs %>
        <link rel="stylesheet" href="/swiper/idangerous.swiper.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="/swiper/idangerous.swiper.js"></script>
</head>

<body class="all">
    <%- include('gui/header.ejs', {id:4}) %>
        


        
</body>

</html>