<!DOCTYPE html>
<html>

<head>
    <title>XXX化肥公司</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/stylesheets/swiper-3.4.2.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="/javascripts/index.min.js"></script>
<body class="all">
    <%- include('gui/header.ejs', {}) %>
    <div class="mian-node">
        <%- include('gui/left_content.ejs', {}) %>
        <div class="right-content-node">
            <%- include('content/content_index.ejs', {}) %>
        </div>
    </div>

    <script src="/javascripts/swiper-3.4.2.min.js"></script>
</body>

</html>