body {
    padding: 0;
    margin: 0;
    /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

.dev_head {
    /* width: 100%; */
    text-align: center;
}

.head_logo {
    width: 100%;
    min-width: 1000px;
}

.swiper-container {
    width: 960px;
    height: 280px;
}

.dev-nav {
    color: #eeeeee;
    text-align: center;
}

.dev-nav-list {
    display: flex;
    /* align-content: center; */
    align-self: center;
}

.dev-nav-item {
    width: 76px;
    height: 40px;
    text-align: center;
}