<!-- 加载编辑器的容器 -->
<form id="jx_new_form" style="margin-top: 50px; padding-left: 5%; padding-right: 5%" class="am-form">
    <div class="am-form-group">
        <label for="doc-ta-1">合作伙伴</label>
        <textarea class="" rows="5" id="info"></textarea>
    </div>
    <br>
    <button onclick="" type="button" class="am-btn am-btn-danger am-btn-sm">保存</button>
</form>