<!-- 加载编辑器的容器 -->
<form style="margin-top: 50px; padding-left: 5%; padding-right: 5%" class="am-form">
    <div class="am-form-group">
        <label for="doc-select-1">产品类型</label>
        <select id="_type">
            <% for(var i=0; i<types.length; i++ ){ %>
                <option value="<%=types[i].type%>">
                    <%=types[i].name%>
                </option>
                <%}%>
        </select>
        <span class="am-form-caret"></span>
    </div>
    <div class="am-form-group">
        <label for="doc-ipt-email-1">产品名</label>
        <input type="text" class="" name="name" id="name" placeholder="">
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">英文名</label>
        <input type="text" class="" name="enName" id="enName" placeholder="">
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">别名</label>
        <input type="text" class="" name="other_name" id="other_name" placeholder="">
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">化学式</label>
        <input type="text" class="" name="formula" id="formula" placeholder="">
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">CAS</label>
        <input type="text" class="" name="cas" id="cas" placeholder="">
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">特征</label>
        <textarea class="" rows="5" name="feature" id="feature"></textarea>
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">说明</label>
        <textarea class="" rows="5" name="userInfo" id="userInfo"></textarea>
    </div>
    <div class="am-form-group">
        <label for="doc-ta-1">使用方式</label>
        <textarea class="" rows="5" name="howUse" id="howUse"></textarea>
    </div>

    <br>
    <button onclick="submitToServer()" type="button" class="am-btn am-btn-danger am-btn-sm">保存</button>
</form>

<script>
    var submitToServer = function () {
        var name = $('#name').val();
        if (!name) {
            alert('必须填写产品名称!');
            return;
        }
        var req = {
            type: $('#_type').val(),
            name: name,
            enName: $('#enName').val(),
            other_name: $('#other_name').val(),
            formula: $('#formula').val(),
            cas: $('#cas').val(),
            feature: $('#feature').val(),
            userInfo: $('#userInfo').val(),
            howUse: $('#howUse').val(),
        }
        $.post('/background/createProduct', req, function (data) {
            if (data.ret === 0) {
                alert('添加成功!');
                window.location.href = '/background/productlist?type=' + $('#_type').val();
            } else {
                alert('添加失败:' + data.msg);
            }
        });
    }
</script>