<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lehoo产品详情</title>
    <% include ./../gui/metaAndLink.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style>
        .centerImg {
            margin: 80px auto;
            width: 98%;
        }
        .centerImg img {
            /*margin: 0 auto;*/
            width: 100%;
        }
    </style>
</head>
<body>
<%- include('./../gui/productHeader.ejs', {title:"经典款"}) %>
    <div class="centerImg">
        <img src="/images/products/baseClassics.jpg">
    </div>
<% include ./../gui/foot2.ejs %>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>